# Editor configuration, see https://editorconfig.org
root = true

[*.{ts,js}]
quote_type = single

[*.{md,yml}]
max_line_length = off
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.{py}]
indent_style = space
indent_size = 4

[*.txt]
insert_final_newline = false

# ! For any given rule only the first matching rule will be applied, meaning
# ! if you want to define defaults like this, they have to be at the bottom.
[*]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
