{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"project": "tsconfig.eslint.json"
	},
	"env": {
		"browser": true,
		"amd": true,
		"node": true
	},
	"ignorePatterns": ["dist", "node_modules", "typedocs", "coverage"],
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_"
			}
		],
		"@typescript-eslint/explicit-member-accessibility": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/no-parameter-properties": "off",
		"@typescript-eslint/no-non-null-assertion": "off"
	},
	"overrides": [
		{
			"files": ["*.tsx"],
			"rules": {
				"@typescript-eslint/no-unused-vars": "off"
			}
		}
	],
	"$schema": "https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/eslintrc.json"
}
