{
	"diff": true,
	"extension": ["spec.ts"],
	"package": "./package.json",
	"require": ["ts-node/register", "source-map-support/register"],
	"recursive": true,
	"reporter": "spec",
	"slow": 75,
	"timeout": 2000,
	"ui": "bdd",
	"spec": "./src/**/*.spec.ts"
}
